.container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #bfaab1;
    display: flex;
}
.box {
    width: 468px; 
    height: 160px;
    border: 1px dashed red;
    background: pink;
    display: flex;
}
